.product{
    width: 100%;
    max-width: 280px;
    margin: .3em;
    padding: .3em;
    border: 2px solid var(--night-blue-shadow);
    box-shadow: 5px 5px 10px grey;
    border-radius: 10px;
}
.product:hover{
    transform: scale(1.02);
}
.product__header{
    border-bottom: 1px solid grey;
    padding: 1.3em;
    width: 100%;
    height: 250px;
    aspect-ratio: 1.5;
    position: relative;
}
.product__header__img{
    width: 80%;
    height: 80%;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 500ms ease;
}
.product__header__img-1{
    opacity: 1;
}
.product__header__img-2{
    opacity: 0;
}
.product__header:hover .product__header__img-1{
    opacity: 0;
}
.product__header:hover .product__header__img-2{
    opacity: 1;
}
.product__section{
    margin: 0 1em;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product__section__subtitle{
    font-weight: 300;
    font-size: 12px;
    opacity: .7;
    padding-top: .5em;
    padding-bottom: .3em;
}
.product__section__title{
    font-style: italic;
    font-size: 16px;
}
.product__price__btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product__price__container{
    margin: .5em 1em;
}
.product__price__container-word{
    font-size: 14px;
}
.product__price__container-price{
    font-style: italic;
}
.product__price__container-price::before{
    content: ' $';
}
.product__btn{
    margin: .5em 1em;
    width: 50px;
    aspect-ratio: 1.5;
    border-radius: 5px;
    background-color: var(--night-blue);
    box-shadow: 3px 3px 10px rgb(128, 128, 128, .5);
    color: white;
}
.product__btn:hover{
    filter: brightness(1.1);
}
.product__btn:hover i{
    transform: scale(1.05);
}
.product__btn-icon{
    font-size: 16px;
}