.product__purchase{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
}
.product__purchase__header{
    padding: 1.3em;
    width: 100%;
    height: 100px;
    aspect-ratio: 1.5;
    position: relative;
}
.product__purchase__header-img{
    width: 80%;
    height: 80%;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.product__purchase__title{
    font-size: 16px;
}
.product__purchase__footer{
    margin-left: 1em;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.product__purchase__footer__div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product__purchase__footer__div-word{
    font-size: 10px;
    opacity: .6;
}
.product__purchase__footer__div-number{
    font-weight: 500;
    font-size: 12px;
}
@media(max-width:400px){
    .product__purchase__title{
        font-size: 12px;
    }
    .product__purchase__footer{
        margin-left: .5em;
        gap: 1em;
    }
    .product__purchase__footer__div-word{
        font-size: 8px;
    }
    .product__purchase__footer__div-number{
        font-size: 10px;
    }
}