.slider{
    width: 500px;
    position: relative;
    padding: 0 .2em;
    overflow: hidden;
}
.slider__interior{
    display: flex;
    width: 300%;
    transition: transform 300ms ease;
    
}
.slider__img-container{
    padding: 3em;
    width: 100%;
    aspect-ratio: 1.5;
}
.slider__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.slider__arrowhead{
    width: 1.6em;
    aspect-ratio: 1;
    position: absolute;
    font-size: 1.5rem;
    color: white;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #2d545e;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.slider__arrowhead:hover{
    filter: brightness(1.2);
}
.slider-left{
    z-index: 10;
}

.slider-right{
    right: 0;
}
@media(max-width: 700px){
    .slider{
        width: 450px;
    }
}
@media(max-width: 500px){
    .slider{
        width: 300px;
    }
    .slider__arrowhead{
        width: 1.2em;
    }
    .slider__arrowhead i{
        font-size: 12px;
    }
}
@media(max-width: 400px){
    .slider{
        width: 250px;
    }
    .slider__arrowhead{
        width: .8em;
    }
    .slider__arrowhead i{
        font-size: 10px;
    }
}
